<%- include('partials/header.ejs') %>
<body>
   
    <%- include('partials/nav.ejs') %>
    <h1 style="text-align: center;font-family: 'Lemonada', cursive;font-size: 60px;">Pizza World</h1>
    <div class="content">
        <img src="/img/pizz.png" alt="" height="400px" width="400px" style="border-radius: 100%;">
    </div>
    <div>
        <h1 style="text-align: center;font-family: 'Lemonada', cursive;font-size: 60px;">Feel hungry:)</h1>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>