<%- include('partials/header.ejs') %>
<body>
   
    <%- include('partials/nav.ejs') %>
    <h1 style="text-align: center;font-family: 'Lemonada', cursive;">PizzaWorld</h1>
    <h2 style="text-align: center;">JAWALAKHEL,LALITPUR</h2>
    <h3 style="text-align: center;">55-24309</h3>
    <div class="content">

    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>